# # CORE
# numpy
# pandas
# scikit-learn
# matplotlib
# seaborn
# scipy

# # GEO & EARTH
# geopandas
# rasterio
# shapely
# folium
# contextily
# earthpy
# scikit-image
# tqdm

# # CLIMATE
# xarray
# netCDF4
# cfgrib
# h5py
# cdsapi
# eofs

# # VISUALIZATION
# plotly
# streamlit
# altair

# # MACHINE LEARNING
# xgboost
# lightgbm
# catboost
# joblib
# feature-engine

# # NLP
# nltk
# spacy
# transformers
# sentence-transformers
# beautifulsoup4
# newspaper3k
# textblob
# textacy

# # UTILITIES
# requests
# aiohttp
# python-dotenv
# pyyaml
# loguru
# boto3

# # TESTING
# pytest

# # TIME-SERIES
# prophet
# statsmodels

# # DATABASE
# sqlalchemy

# # DATA VERSION CONTROL
# dvc

# # DEEP LEARNING (Pick only ONE: Tensorflow OR PyTorch)
# tensorflow
# # torch  # Uncomment if using PyTorch instead


# Core Libraries
numpy
pandas
scikit-learn
matplotlib
seaborn

# Geospatial
geopandas
shapely
geopy

# Visualization
streamlit
plotly
folium
streamlit-folium

# Machine Learning
xgboost
lightgbm
catboost
joblib
imbalanced-learn

# Utilities
requests==2.28.1
tqdm
nbformat

# Climate/Niche Tools
pythermalcomfort
climate_indices

# NLP Libraries
beautifulsoup4==4.11.1
spacy>=3.7.0
textblob==0.15.3
gnews
newspaper3k
lxml[html_clean]
bertopic[all]
nltk
gensim
transformers
pyldavis
langdetect
sumy
vaderSentiment
textstat

# AWS SDK
botocore
aiobotocore
